body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 450px;
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.scroll-box {
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    text-align: left;
}

.scroll-box span {
    display: block;
    color: #00ff41;
    font-family: monospace;
    font-size: 0.85em;
    margin-bottom: 5px;
}

.form-section {
    margin-top: 20px;
    padding: 15px;
    background: #282828;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    background: #333;
    color: white;
    border: 1px solid #444;
}

button {
    width: 85%;
    padding: 12px;
    background: #f1c40f;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
